---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.rocketfuel.com/2016/reports
    body:
      encoding: UTF-8
      string: '{"use_campaign_currency":"true","use_campaign_time_zone":"true","start_date":"2018-03-21","end_date":"2018-03-22","dimensions":["date"],"metrics":["impressions","clicks"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Execution-Time:
      - 0.179s
      Success-Status:
      - '1'
      Api-Version:
      - '1'
      Token:
      - rocketfuel-api-sandbox-auth-token
    body:
      encoding: UTF-8
      string: '[{"date":"2018-03-22","impressions":21662,"clicks":38},{"date":"2018-03-21","impressions":28104,"clicks":56}]'
  recorded_at: Mon, 02 Apr 2018 19:56:03 GMT
recorded_with: VCR 3.0.3
